body {
    background: #4682B4;
}

.main {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

.main img {
    width: 100px;
    float: left;

}

.main .logo {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: -35px;
}

.main .nav {
    margin-top: 120px;
    font-size: 28px;
}

.main .nav-list {
    list-style: none;
}

.main a {
    text-decoration: none;
}

.main .nav-item {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

.main .nav-item:hover, .main ul a:hover {
    color: #4682B4;
    text-decoration: none;
    transform: scale(1.05);
}

.main-footer {
    float: left;
    background: #4d4d4d;
    width: 20%;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-nav-list {
    list-style: none;
}
