{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
<!--<aside class="main">-->
<!--    <img src="{% static 'main/img/php.png' %}" alt="Лого">-->
<!--    <span class="logo">programmer</span>-->
<!--    <h3 class="nav">Навигация</h3>-->
<!--    <ul class="nav-list">-->
<!--        <a href="{% url 'home' %}"><li class="nav-item">Главная страница</li></a>-->
<!--        <a href="{% url 'relevance' %}"><li class="nav-item">Востребованность</li></a>-->
<!--        <a href=""><li class="nav-item">География</li></a>-->
<!--        <a href="{% url 'skills' %}"><li class="nav-item">Навыки</li></a>-->
<!--        <a href=""><li class="nav-item">Последние вакансии</li></a>-->
<!--    </ul>-->
<!--    <ul class="footer-nav-list">-->
<!--        <li class="footer-nav-item">Васильцов Владимир Николаевич</li>-->
<!--        <li class="footer-nav-item">РИ-220947</li>-->
<!--    </ul>-->
<!--</aside>-->
    <section class="menu">
      <!-- Логотип -->
      <a href="#" class="menu__logo logo">PHP-programmer</a>
      <!-- Основное меню -->
      <ul class="menu__list list">
        <!-- Элемент меню -->
        <li class="menu__item item">
          <!-- Ссылка меню -->
          <a href="{% url 'home' %}" class="menu__link link">
            <span>Главная страница</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="{% url 'relevance' %}" class="menu__link link">
            <span>Востребованность</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="#" class="menu__link link">
            <span>География</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="{% url 'skills' %}" class="menu__link link">
            <span>Навыки</span>
          </a>
        </li>
        <li class="menu__item item">
          <a href="#" class="menu__link link">
            <span>Последние вакансии</span>
          </a>
        </li>

      </ul>
      <ul class="menu__admin admin">
        <li class="admin__item item">
            <span>Васильцов Владимир Николаевич</span>
        </li>
        <li class="admin__item item">
            <span>РИ-220947</span>
          </a>
        </li>
      </ul>
    </section>
<main>
    {% block content %}

    {% endblock %}
</main>
</body>
</html>